section {
  border:  1px solid black;
  padding: 1rem;

  header {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;

  span {
    strong {
      padding-right: 5px;
    }
  }
}

.form-title {
  width: 100%;
  padding-bottom: 1rem;
}

.form-title-btn {
  width: 100%;
}

.organizer-content {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 100%;
    padding: .5rem 1rem;
  }
}

.tasks-list {
  height: 300px;
  overflow-y: scroll;
}
